#app {
  height: 600px;
  width: 800px;
  font-size: 3em;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

#header {
  background-color: red;
  grid-column: 1 / span 6;
  text-align: center;

}

#footer {
  background-color: indigo;
  grid-column: 1 / span 6;
  text-align: center;
}

#article-1 {
  background-color: yellow;
  grid-column: 2 / span 3;
  text-align: center;
}

#article-2 {
  background-color: green;
  grid-column: 2 / span 3;
  text-align: center;
}

#nav {
  background-color: orange;
  grid-row: 2 / 4;
  grid-column: 1 / span 1;
}

#ad-area {
  background-color: blue;
  grid-column: 5 / span 2;
  grid-row: 2 / 4;
  text-align: center;
}
